.Header {
  text-align: center;
  background-color: #222;
  height: 190px;
  padding: 20px;
  color: white;
}

.Logo img {
  height: 120px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MenuPropio {
	margin: 0;
	padding: 0;
	list-style: none;
}

.MenuPropio li {
	display: inline-block;
	padding-right: 10px;
}

.MenuPropio li a {
    color: #CCC;
    text-decoration: none;
}

.MenuPropio li a:hover {
    color: #EEE;
}
